@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.app {
    margin: auto;
    margin-top: 10%;
}

.app {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 33%;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    border-top: 29px solid #FFDC40;
    border-radius: 10px;
    gap: 30px;
}

.top-order img {
    
    width: 30px;
    position: relative;
    align-self: end;
    right: 30px;
    
    

}

.top-order {
    
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;


}

h1 {
    flex-direction: column;
    align-self: center;
    margin-block-start: 20px;
}

input,.input-part {
    width: 286px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

input+i {
    cursor: pointer;
    position: relative;
    left: 80%;
    bottom: 80%;
    width: 20px;
    height: 20px;
    
    
}

.btn {
    display: flex;
    flex-direction: row;
    background-color: #833AE0;
    margin-block-end: 20px;
    align-items: center;
    color: white;
    border-radius: 71px;
    width: 150px;
    height: 42px;
    gap: 20px;
    cursor: pointer;

}

.circle {
    background-color: #9953F1;
    width: 42px;
    height: 42px;
    border-radius: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
}

i{
    color: gray;
    
}
.notes{
    display: none;
    border: 1px solid gray;
    border-radius: 12px;
}
.notes i{
    cursor: pointer;
    /* padding: 0 40px; */
}